/* #################################################### */
/* this is a css stylesheet for the Ekasoft-website project. */

/* #################################################### */
/* common */
body {
    background-image: url("img/M05.jpg");
    margin: 0;
}

/* #################################################### */
/* Banner and navbar */
.navbar {
    background-color:lightgray;
    border-bottom: 1px solid black;
}

/* banner image */
.navbar-image {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    margin-top: -20px;
}
.navbar-image img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 60%;
    aspect-ratio: 3/1;
    object-fit: cover;
    align-self: center;
}

/* navbar */
.navbar-nav {
    padding: 10px;
}
.navbar-nav ul {
    display: flex;
    list-style-type: none;
    width: fit-content;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
.navbar-nav li {
    padding: 0;
    float: left;
}
.navbar-nav li a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: auto;
}
/* #################################################### */
/* footer */
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    border-top: 1px solid black;
    padding: 10px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* #################################################### */
.frontPage{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
}
.frontPage h1 {
    padding-top: 20px;
}
.frontPage p {
    line-height: 1.5;
    padding: 0 0 20px 0;
}

/* #################################################### */
/* Game rules text*/
.gameRules {
    background-color: white;
    margin: 20px 10%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.gameRules h1 {
    margin: 0 auto 20px auto;
    text-align: center;
}
.gameRules h3 {
    margin: 10px;
}
.gameRules p {
    line-height: 1.5;
    text-align: left;
}
.gameRules ol {
    padding-left: 15px;
}
.gameRules ol li {
    margin-bottom: 5px;
}
